

body{
    max-width: 82ch;
}

/*
body{
    margin: 2% 3%;
    font-family: "Times New Roman", Times, serif;
    border-color: grey;
    font-size: 16pt;
    background-color: rgb(255, 255, 245);
}

ul{
    list-style-type: square;
}

#all{
    
}

#cite{
    color: rgb(100,100,100);
    cursor: pointer;
}

header{
    text-align: center;
}

header a{
    text-decoration: none;
    color: black;
}

sup a{
    text-decoration: none;
    color: rgb(100,100,100);
}

#footnote{
    font-size: 14pt;
}

nav{
    text-align: center;
    font-size: 18px;
    background: black;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding: 5px 0px;
}
nav ul li{
    display: inline;
    margin:0px 5px;
    padding: 5px 5px;
    color: rgb(255, 255, 245);
    
}
nav ul a{
    text-decoration: none;
    color: rgb(255, 255, 245);
}


#main{
    padding: 0% 3%;
    width: 50%;
    max-width: 50%;
    float: left;
}


.divider{
    background: black;
    height: 1px;
    margin: 30px 0px;
}

p{
    line-height: 1.5;
}

ul, ol{
    line-height: 1.5;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 8px;
}
    
*/